h1 {
  text-align: center;
  font-family:cursive;
}
h2 {
  font-family: cursive;
  font-size: 35px;
}
body {
  background-image: url(../imgs/light.jpg);
  background-repeat: repeat;
  background-size: 100%;
}
P {
  text-indent: 50px;
}
.img1 {
  position:absolute;
  top:100px;
  right:50px;
}
.fa-instagram {
  position: sticky;
  left: 20px;
  color:LightCoral;
  background-color:none;
  font-size: 75px;
  text-align: center;


}
h3 {
  font-size:20px;
  font-family: cursive;
}
.carousel {
  width:1000px;
  height:10%;
  position: sticky;
  right: 200px;
  left: 300px
  bottom: 100px;
  align-content: center;
}
.img2 {
position: sticky;
right:200px;
left:400px;
}
.navigation-bar1 {
  font-size:20px;
  background-color: Violet;
}
h4 {
font-size: 70px;
font-style: oblique;
font-family: fantasy;
text-align: center;
}
hr {
  border-top: 10px solid;
  border-radius: 10px;
  color: Violet;
}
.card-img-top  {
  width: 100%;
  height: 50%;
  float: left;
  position: sticky;
}

.btn-primary-center {
  left: 300px;
  background-color:Violet;
  position: sticky;
}
.card-title {
 font-size: 25px;
}

.card-text {
float: left;
}
.btn-Primary {
align-content: center;
}
.fa-facebook {
  font-size: 75px;
  position: sticky;
  left: 20px;
  color:LightCoral;
  background-color:none;
  border radius: 50%;
}
.form-group {
  font-size: 25px;
  margin-top: 50px;
 margin-bottom: 50px;
 margin-right: 150px;
 margin-left: 80px;
}
h6 {
  font-family: monospace;
  font-size: 40px;
  font-style: oblique;
  margin-left: 30px;
}
.form-check {
 margin-top: 50px;
 margin-bottom: 50px;
 margin-right: 150px;
 margin-left: 80px;
}
.button{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
}
