h1 {
  text-align: center;
  font-family:cursive;
}
body {
  background-image: url(../imgs/light.jpg);
  background-repeat: repeat;
  background-size: 100%;
}
P {
  text-indent: 50px;
}
.img1 {
  position:absolute;
  top:100px;
  right:50px;
}
.fa-instagram {
  background: #125688;
  color: white;
  font-size: 75px;
  position: sticky;
  left: 20px;
  color:LightCoral;
  background-color:White;

}
h3 {
  font-size:20px;
  font-family: cursive;
}
.carousel {
  width:1000px;
  height:10%;
  position: static;
  right: 200px;
  left: 1000px
  bottom: 100px;
}
.img2 {
position: sticky;
right:200px;
left:400px;
}
.navbar {
  font-size:20px;
}
h4 {
font-size: 70px;
font-style: oblique;
font-family: fantasy;
text-align: center;
}
hr {
  border-top: 10px solid;
  border-radius: 10px;
  color: Violet;
}
.card-img-top  {
  width: 50%;
  height: 50%;
  float: left;
  position: sticky;
}

.btn-primary-center {
  left: 300px;
  background-color:Violet;
  position: sticky;
}
.card-title {
 font-size: 25px;
}
.card-group {
  background-color: none;
}
.card-text {
float: left;
}
